:root{
    -white: #ffffff;
    --grey: #fafafa;
    --blue: rgb(9, 80, 148);
    --purple: #0E1B3C;
    --black: #000000;
    --yellow: rgb(252, 191, 27);
    --yellow2: rgb(255, 221, 9);

}
.bg-grey{background-color: var(--grey);}
.bg-light{background-color: var(--light )!important;}
.bg-blue{background-color: var(--blue);}
.bg-purple{background-color: var(--purple);}
.bg.black{background-color: var(--black);}
.bg.yellow{background-color: var(--yellow);}
.bg.yellow{background-color: var(--yellow2);}
.navbar{
    min-height: 5rem;
}
a{
    color: var(--blue);
}
.py-6{
    padding-top: 2rem;
    padding-bottom: 2rem;
}
i.lead{
    font-size: 1.8rem;
}
.form-control:focus{
    box-shadow: none;
}
.profile-picture{
    background-image: url('../../static/img/post.jpg');
    background-size: cover;
    width: 3rem;
    height: 3rem;
}
