{% extends "base.html" %}

{% block title %}Reset your Password{% endblock %}

{% block content %}
<h1>Restablecer su contraseña</h1>
{% if validlink %}
<p>
    Ingrese su nueva contraseña dos veces:
</p>
<form method="post">
    {{ form.as_p }}
    {% csrf_token %}
    <p><input type="submit" value="Change my password"></p>
    </form>
{% else %}
<p>
    El enlace de restablecimiento de contraseña no es válido, posiblemente porque ya se ha utilizado.
    Solicite un nuevo restablecimiento de contraseña
</p>
{% endif %}
{% endblock %}